.pokeCard__wrapper {
  width: 320px;
  margin: 0 auto;
  perspective: 1000;
  -webkit-perspective: 1000;
}
 
.pokeCard__wrapper.active:hover .pokeCard {
  transform: rotateY(180deg);
}

.pokeCard,
.pokeCard__front,
.pokeCard__back {
  /* 0.72148288973384 */
  width: 320px;
  height: 443px;
}

.pokeCard {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.pokeCard__front {
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  position: absolute;
  transform: rotateY(0deg);
  background: white;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

.pokeCard__front img {
  max-height: 100%;
}

.pokeCard__back {
  top: 0;
  left: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
